<div class="container">
    <div class="row">
        <div class="col" style="text-align: center">
            <a style="font-size: 20px; color: white;" href='/movies/<%= movie.id %>'><%= movie.title %>
                (<%= movie.dataValues.year %>)</a><br> <br>
            <img id="poster" src="<%= movie.poster %>"><br>
            <p style="font-size: 40px;"> <%= movie.dataValues.averageRating.toFixed(1) %>/10 </p>

        </div>
        <div style="font-size: 12px;" class="col">
            Release Date: <%= getFormattedDate(movie.dataValues.released) %><br>
            Duration: <%= movie.dataValues.runtime %><br><br>
            Genre: <%= movie.dataValues.genre %><br>
            Rated: <%= movie.dataValues.rated %><br><br>
            Director: <%= movie.dataValues.director %><br>
            Writer: <%= movie.dataValues.writer %><br><br>
            Actors: <%= movie.dataValues.actor %><br><br>
            Synopsis:<br><%= movie.dataValues.plot %><br><br>
            Awards: <%= movie.dataValues.awards %><br>
        </div>
    </div>