<!DOCTYPE html>
<html>

<head>
  <title> Movies </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    .background-home {
      padding: 50px;
      background-image:
    linear-gradient(to top, rgb(0, 0, 0), rgba(12, 12, 12, 0.658)),
    url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>
        <div class="container">

          <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
            <!-- Wrapper for carousel items -->

            <div class="carousel-inner">

              <div class="carousel-item active">
                <a href="/movies/<%= dataMovies[2].id%>">
                  <img src="<%= dataMovies[2].poster %>" alt="First Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[1].id%>">
                  <img src="<%= dataMovies[1].poster %>" alt="First Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[3].id%>">
                  <img src="<%= dataMovies[3].poster %>" alt="First Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[20].id%>">
                  <img src="<%= dataMovies[20].poster %>" alt="First Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[24].id%>">
                  <img src="<%= dataMovies[24].poster %>" alt="First Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[9].id%>">
                  <img src="<%= dataMovies[9].poster %>" alt="First Slide" width="180" height="250">
                </a>
              </div>

              <div class="carousel-item">
                <a href="/movies/<%= dataMovies[23].id%>">
                  <img src="<%= dataMovies[23].poster %>" alt="Second Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[10].id%>">
                  <img src="<%= dataMovies[10].poster %>" alt="Second Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[40].id%>">
                  <img src="<%= dataMovies[40].poster %>" alt="Second Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[11].id%>">
                  <img src="<%= dataMovies[11].poster %>" alt="Second Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[13].id%>">
                  <img src="<%= dataMovies[13].poster %>" alt="Second Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[20].id%>">
                  <img src="<%= dataMovies[20].poster %>" alt="Second Slide" width="180" height="250">
                </a>
              </div>

              <div class="carousel-item">
                <a href="/movies/<%= dataMovies[29].id%>">
                  <img src="<%= dataMovies[29].poster %>" alt="Third Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[35].id%>">
                  <img src="<%= dataMovies[35].poster %>" alt="Third Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[42].id%>">
                  <img src="<%= dataMovies[42].poster %>" alt="Third Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[45].id%>">
                  <img src="<%= dataMovies[45].poster %>" alt="Third Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[43].id%>">
                  <img src="<%= dataMovies[43].poster %>" alt="Third Slide" width="180" height="250">
                </a>
                <a href="/movies/<%= dataMovies[10].id%>">
                  <img src="<%= dataMovies[10].poster %>" alt="Third Slide" width="180" height="250">
                </a>
              </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          <br>
        </div>
        <div style="width: 100%; text-align: center;" class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-2">
              <p style="color: black;">“Great men are not born great, they grow great . . .”</p>
              <footer class="blockquote-footer">Mario Puzo, <cite title="Source Title">The Godfather</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </main>

  <%- include('../views/partials/style.ejs')%>
  </body>
</html>