<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movies</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-sm bg-danger">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="navbar-brand" href="/">
          <img src="https://www.flaticon.com/premium-icon/icons/svg/2504/2504929.svg" width="30" height="30"
            class="d-inline-block align-top" alt="">
          Netflux ┃
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-item nav-link" href="/register"> Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="jumbotron text-center">
    <h1><img style="width: 150px;" src="https://image.flaticon.com/icons/svg/2197/2197989.svg"> Netflux :
      Ratings and Reviews for Movies</h1>
  </div>
  <div class="container">
    <p>Review Your Favourite Movie</p>
  </div>

  <div class="container">

    <div class="bs-example">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->

        <div class="carousel-inner">

          <div class="carousel-item active">
            <a href="/movies/<%= dataMovies[2].id%>">
              <img src="<%= dataMovies[2].poster %>" alt="First Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[1].id%>">
              <img src="<%= dataMovies[1].poster %>" alt="First Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[3].id%>">
              <img src="<%= dataMovies[3].poster %>" alt="First Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[20].id%>">
              <img src="<%= dataMovies[20].poster %>" alt="First Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[24].id%>">
              <img src="<%= dataMovies[24].poster %>" alt="First Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[9].id%>">
              <img src="<%= dataMovies[9].poster %>" alt="First Slide" width="180" height="250">
            </a>
          </div>

          <div class="carousel-item">
            <a href="/movies/<%= dataMovies[23].id%>">
              <img src="<%= dataMovies[23].poster %>" alt="Second Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[10].id%>">
              <img src="<%= dataMovies[10].poster %>" alt="Second Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[40].id%>">
              <img src="<%= dataMovies[40].poster %>" alt="Second Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[11].id%>">
              <img src="<%= dataMovies[11].poster %>" alt="Second Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[13].id%>">
              <img src="<%= dataMovies[13].poster %>" alt="Second Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[20].id%>">
              <img src="<%= dataMovies[20].poster %>" alt="Second Slide" width="180" height="250">
            </a>
          </div>

          <div class="carousel-item">
            <a href="/movies/<%= dataMovies[29].id%>">
              <img src="<%= dataMovies[29].poster %>" alt="Third Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[35].id%>">
              <img src="<%= dataMovies[35].poster %>" alt="Third Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[42].id%>">
              <img src="<%= dataMovies[42].poster %>" alt="Third Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[45].id%>">
              <img src="<%= dataMovies[45].poster %>" alt="Third Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[43].id%>">
              <img src="<%= dataMovies[43].poster %>" alt="Third Slide" width="180" height="250">
            </a>
            <a href="/movies/<%= dataMovies[10].id%>">
              <img src="<%= dataMovies[10].poster %>" alt="Third Slide" width="180" height="250">
            </a>
          </div>
        </div>

        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <br>
    </div>
    <div class="card">
      <div class="card-header">
        Quote
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-2">
          <p>“Great men are not born great, they grow great . . .”</p>
          <footer class="blockquote-footer">Mario Puzo, <cite title="Source Title">The Godfather</cite></footer>
        </blockquote>
      </div>
    </div>
</body>

<%- include('../views/partials/style.ejs')%>

</html>